<!DOCTYPE html>
<html lang="en">
{{> header }}
  <body>
      {{> navbar }}
         <div class="container-fluid">
      <h2>User Profile</h2>
      <img src="/images/profile.png" />
      <h3>Name : {{user.NAME}}</h3>
      <h3>Email :{{user.EMAIL}}</h3>
      <h3>Age : User Age</h3>
      <h3>Gender : User Gender</h3>
      <h3>Date of Birth : User Date of Birth</h3>
      <h3>Mobile : User Mobile</h3>
    </div>
  </body>
</html>